@model IEnumerable<TRM.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="filler"></div>

<a asp-action="Create" class="form-top-nav">Add Vehicle</a>

<table class="table table-form">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isoperable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteStop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isoperable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteStop.RouteStopId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleId" class="action-nav">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.VehicleId" class="action-nav">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.VehicleId" class="action-nav">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
