@model IEnumerable<TRM.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="filler"></div>

<a asp-action="Create" class="form-top-nav">Add Employee</a>
<table class="table table-form">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteStop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
               <td>
                    @Html.DisplayFor(modelItem => item.EmpId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteStop.RouteStopId)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.EmpId" class="action-nav">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.EmpId" class="action-nav">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.EmpId" class="action-nav">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
