@model TRM.Models.RouteStop

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-bg">
    <h4 class="form-title">Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteStopName1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteStopName1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteStopName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteStopName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteStopName3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteStopName3)
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model?.RouteStopId" class="form-nav-det">Edit</a> 
    <a asp-action="Index" class="form-nav-det">List</a>
</div>
