@model IEnumerable<TRM.Models.RouteStop>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteStopName1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteStopName2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteStopName3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteStopName1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteStopName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteStopName3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteStopId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteStopId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteStopId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
