@model IEnumerable<TRM.Models.RouteStop>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="filler"></div>

<a asp-action="Create" class="form-top-nav">Add Route</a>

<table class="table table-form" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteStopId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteStopName1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteStopName2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteStopName3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RouteStopId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteStopName1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteStopName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteStopName3)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.RouteStopId" class="action-nav">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.RouteStopId" class="action-nav">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
